<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск</title>
    <link href="/css/output.css" rel="stylesheet">
    <link rel="icon" href="/uploads/LOGO.png" type="image/x-icon">
</head>
<body class="bg-white"> <%- include('partials/nav') %>

<div class="max-w-7xl mx-auto px-6 py-10">
    <h1 class="text-2xl font-bold mb-6">Результаты поиска для: "<%= query %>"</h1>

    <% if (users && users.length > 0) { %>
        <h2 class="text-xl font-semibold mt-6 mb-4">Пользователи</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <% users.forEach(user => { %>
                <div class="bg-white rounded-lg shadow p-4 hover:shadow-lg transition-all user-card" data-id="<%= user.id %>" style='background-image: url("<%= user.cover %>"); background-size: cover; background-position: center;'>
                    <div class="h-40 flex items-center justify-center mb-4">
                        <img src="<%= user.avatar || '/uploads/default-avatar-hq.png' %>" alt="avatar"
                             class="w-24 h-24 rounded-full cursor-pointer border-2 border-white shadow"/>
                    </div>
                    <div class="flex flex-col bg-white/85 p-2 rounded-lg">
                        <h2 class="text-lg font-semibold mb-1"><%= user.name %></h2>
                        <p class="text-sm text-gray-600 overflow-hidden whitespace-nowrap text-ellipsis"><%= user.bio || 'Без описания' %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>

    <% if (projects && projects.length > 0) { %>
        <h2 class="text-xl font-semibold mt-10 mb-4">Проекты</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <%- include('partials/projectCard') %>
        </div>
    <% } %>
</div>
</body>
<script>
    document.querySelectorAll('.user-card').forEach(card => {
        card.addEventListener('dblclick', () => {
            const userId = card.dataset.id;
            window.location.href = `/profile/${userId}`;
        });
    });
</script>
</html>